
$met-clr-bg: lighten($clr-dark, 5%);
$met-clr-hoverbg: rgba($clr-white, 0.05);

.MapEditorToolbar {
    background: $met-clr-bg;
    border-right: 1px solid lighten($met-clr-bg, 4%);
    box-shadow: 0 0 7px rgba($clr-black, 0.35);
    display: flex;
    flex-direction: column;
}

.MapEditorToolbar__info {
    color: $clr-gray-70;
    font-size: 0.75rem;
    padding: 1.0em;
}

.MapEditorToolbar__item {
    border-top: 1px solid lighten($met-clr-bg, 4%);
}

.MapEditorToolbar__link {
    box-shadow: inset 0 0 2px darken($met-clr-bg, 2%);
    color: $clr-light;
    cursor: pointer;
    display: block;
    padding: 1.5em 0.5em;
    text-align: center;
    text-shadow: 1px 1px 0 transparent;
    transition: $transition-hover;

    &:hover {
        background: $met-clr-hoverbg;
        color: $clr-white;
    }
}

.MapEditorToolbar__logo {
    flex: 1;
}
