
.AppToolbar {
    background-color: $clr-chrome;
    border-bottom: 1px solid $clr-divider;
    display: flex;
    height: 100%;

    .AppToolbar__logo {
        text-align: left;
        width: 110px;
    }

    .AppToolbar__middle {
        flex: 1;
        text-align: center;
    }

    .AppToolbar__right {
        padding: 1.0em;
        text-align: right;
    }
}

@keyframes spin {
    to {
        transform: rotate(1440deg);
    }
}

.AppToolbar__btn {
    background: $clr-gray-30;
    border: 1px solid $clr-divider;
    border-radius: 0.25em;
    color: $clr-gray-90;
    cursor: pointer;
    padding: 0.5em 0.75em;

    &:hover {
        background: $clr-gray-40;
        color: $clr-white;

        svg {
            fill: $clr-white;
        }
    }

    svg {
        fill: $clr-gray-90;
        height: 18px;
        margin: 0 0.5em;
        vertical-align: text-top;
        width: 18px;
    }

    svg.spinner {
        animation: spin 2s infinite cubic-bezier(0.6, 0.2, 0.4, 0.8);
    }
}
