
.HighlightItem {
    background: transparentize($clr-white, 0.92);
    color: $clr-white;

    svg {
        fill: $clr-white;
    }
}

.Navbar {
    height: 100%;
    padding-left: 2.0em;

    ul {
        display: flex;
        height: 100%;
        list-style: none;
        margin: 0;
        padding-left: 0;
    }

    li {
        align-items: center;
        background: transparentize($clr-white, 0.97);
        border-bottom: 1px solid transparent;
        border-right: 1px solid $clr-gray-30;
        color: $clr-gray-80;
        cursor: pointer;
        display: flex;
        padding: 1.0em;
        transition: $transition-hover;

        &.active-item {
            @extend .HighlightItem;
            border-bottom: 1px solid $clr-highlight;
        }

        svg {
            fill: $clr-gray-80;
            height: 16px;
            margin-right: 0.5em;
            width: 16px;
        }

        &:nth-child(1) {
            border-left: 1px solid $clr-gray-30;
        }

        &:hover {
            @extend .HighlightItem;
        }

    }

}
