
.Subnav {
    //background: $clr-gray-80;
    background: $clr-gray-30;
    border-right: 1px solid $clr-gray-40;
    color: $clr-gray-98;
    padding: 2.0em;
    width: 250px;
}

.Subnav__item {
    transition: none;
}

.Subnav__item-hidden {
    display: none;
}
