
.OpenProjectScreen {
    @include screen();
    z-index: 10;
}

.OpenProjectScreen__Background {
    background: url(../images/nasa-43569.jpg) no-repeat center center fixed;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;

    &::before {
        background-image: linear-gradient(to bottom, rgba($clr-black, 0.35), rgba($clr-black, 0.65));
        bottom: 0;
        content: '';
        left: 0;
        opacity: 1;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }
}

.OpenProjectScreen__Content {
    bottom: 0;
    display: flex;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
