.OpenProjectScreen__Main {
    flex: 1;
}

.OpenProjectScreen__RecentProjects {
    color: $clr-light;
}

.OpenProjectScreen__RecentProjects-list {
    display: flex;
    flex-wrap: wrap;
}

$ssrp-txt-clr: lighten($clr-black, 20%);

.OpenProjectScreen__RecentProject {
    background: rgba($clr-light, 0.9);
    box-shadow: 0 0 12px transparent;
    color: $ssrp-txt-clr;
    cursor: pointer;
    margin: 0.5em;
    transition: $transition-hover;
    width: 256px;

    &:hover {
        background: rgba($clr-white, 0.95);
        box-shadow: 0 0 12px $clr-highlight;
        color: $clr-black;
    }
}

.OpenProjectScreen__RecentProject-preview {
    background: $clr-highlight;
    min-height: 156px;
}

.OpenProjectScreen__RecentProject-info {
    padding: 1.0em;
}

.OpenProjectScreen__RecentProject-name {
    text-align: center;
}
