
.MapEditorScreen {
    @include screen();

    background: $clr-canvas;
    display: flex;
    flex-direction: column;
}

.MapEditorScreen__apptoolbar {

}

.MapEditorScreen__workarea {
    display: flex;
    flex: 1;
    flex-direction: row;
}
