
.MapEditorScreen {
    @include screen();

    background: $clr-canvas;
    background-image: url('../images/low_contrast_linen.png');
    display: flex;
}

.MapEditorScreen__apptoolbar {
    align-items: flex-start;
    background-color: $clr-chrome;
    text-align: left;
}

.MapEditorScreen__workarea {
    display: flex;
    flex: 1;
    flex-direction: row;
    position: relative;
}
