
.MapEditorScreen {
    @include screen();

    background: lighten($clr-dark, 5%);
    display: flex;
    flex-direction: column;
}

.MapEditorScreen__apptoolbar {
    height: 48px;
}

.MapEditorScreen__workarea {
    display: flex;
    flex: 1;
    flex-direction: row;
}
