
$border-radius: 3px;
$font-size: 14px;

.input {
    background: $clr-gray-20;
    border: 1px solid transparent;
    border-bottom: 1px solid $clr-gray-35;
    border-radius: $border-radius;
    border-top: none;
    box-shadow: inset 0 1px 2px transparentize($clr-black, 0.4), 0 -1px 1px $clr-gray-30, 0 1px 0 $clr-gray-30;
    box-sizing: border-box;
    color: $clr-gray-85;
    display: block;
    font-size: $font-size;
    outline: none;
    padding: 0.5em;
    transition: all 0.35s ease-in-out;
    width: 100%;

    &:focus,
    &:hover {
        background: $clr-gray-25;
        color: $clr-white;
    }
}

.FormInput {
    margin-bottom: 1.5em;

    input {
        @extend .input;
    }

    label {
        color: $clr-gray-85;
        display: block;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0.5em;
    }
}

.FormInput__split-ctrl {
    display: flex;
}

.FormInput__split-ctrl-picker {
    flex: 1;
}

.FormInput__split-ctrl-val {
    font-size: 10px;
    min-width: 30px;
    padding-left: 1.0em;
    text-align: center;
}

.SplitPicker {
    display: flex;
}

.SplitPicker-picker {
    align-items: center;
    border: 1px solid $clr-gray-25;
    border-bottom: 1px solid $clr-gray-35;
    border-bottom-left-radius: $border-radius;
    border-right: none;
    border-top-left-radius: $border-radius;
    box-shadow: inset 0 1px 2px transparentize($clr-black, 0.4), 0 -1px 1px $clr-gray-30, 0 1px 0 $clr-gray-30;
    cursor: pointer;
    display: flex;
    flex: 1;
    font-size: 10px;
    justify-content: left;
    min-height: 36px;
    padding: 0 0.5em;
    width: 100%;
}

.SplitPicker-button {
    align-items: center;
    background: $clr-gray-20;
    border: 1px solid $clr-gray-20;
    border-bottom: 1px solid $clr-gray-35;
    border-bottom-right-radius: $border-radius;
    border-left: none;
    border-top-right-radius: $border-radius;
    box-shadow: inset 0 1px 2px transparentize($clr-black, 0.4), 0 -1px 1px $clr-gray-30, 0 1px 0 $clr-gray-30;
    color: $clr-gray-85;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: all 0.35s ease-in-out;
    width: 36px;

    svg {
        fill: $clr-gray-85;
        height: 12px;
        transition: all 0.35s ease-in-out;
        width: 12px;
    }

    &:hover {
        background: $clr-gray-25;

        svg {
            fill: $clr-white;
        }
    }
}

// RC Slider Overrides
.rc-slider-handle {
    background-color: $clr-gray-60;
    border-color: $clr-gray-60;
    box-shadow: 0 0 3px transparentize($clr-black, 0.5);

    &:active,
    &:focus,
    &:hover {
        background-color: $clr-gray-70;
        border-color: $clr-gray-70;
        box-shadow: 0 0 3px transparentize($clr-black, 0.5);
    }
}

.rc-slider-rail {
    background: $clr-gray-20;
}

.rc-slider-track {
    background-color: $clr-gray-50;
}

// React Select Overrides
.Select-arrow-zone {
    .Select-arrow {
        border-color: $clr-gray-85 transparent transparent;
    }
}

.is-open .Select-control .Select-arrow {
    border-color: transparent transparent $clr-gray-85;
}

.Select-control {
    background: $clr-gray-20;
    border: 1px solid transparent;
    border-bottom: 1px solid $clr-gray-35;
    border-radius: $border-radius;
    border-top: none;
    box-shadow: inset 0 1px 2px transparentize($clr-black, 0.4), 0 -1px 1px $clr-gray-30, 0 1px 0 $clr-gray-30;
    color: $clr-gray-85;
    cursor: pointer;
    font-size: $font-size;

    &:hover {
        background: $clr-gray-25;
        border: 1px solid transparent;
        border-bottom: 1px solid $clr-gray-35;
        border-radius: $border-radius;
        border-top: none;
        box-shadow: inset 0 1px 2px transparentize($clr-black, 0.4), 0 -1px 1px $clr-gray-30, 0 1px 0 $clr-gray-30;
        color: $clr-white;
    }
}

.is-focused:not(.is-open) > .Select-control {
    border: 1px solid transparent;
    border-bottom: 1px solid $clr-gray-35;
    border-top: none;
    box-shadow: inset 0 1px 2px transparentize($clr-black, 0.4), 0 -1px 1px $clr-gray-30, 0 1px 0 $clr-gray-30;
}

.is-open > .Select-control {
    background: $clr-gray-25;
    border: 1px solid transparent;
    border-bottom: 1px solid $clr-gray-35;
    border-top: none;
    color: $clr-white;
}

.has-value.Select--single > .Select-control .Select-value .Select-value-label {
    color: $clr-gray-85;
    font-size: $font-size;
}

.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.Select--single > .Select-control .Select-value .Select-value-label {
    color: $clr-gray-85;
}

.Select-value,
.Select-value-label {
    color: $clr-gray-85;
    font-size: $font-size;
}

.Select-input {
    input {
        background: transparent;
        border: none;
        box-shadow: none;
        outline: none;

        &:focus,
        &:hover {
            background: transparent;
            border: none;
        }
    }
}

.Select-menu-outer {
    background-color: $clr-gray-25;
    border: 1px solid $clr-gray-20;
    border-top-color: transparent;
}

.Select-option {
    background-color: $clr-gray-20;
    color: $clr-white;

    &.is-selected {
        background-color: $clr-gray-25;
        color: $clr-white;
    }

    &.is-focused {
        background-color: $clr-gray-25;
        color: $clr-white;
    }

}

.Select-noresults {
    color: $clr-gray-80;
}
