
.BaseMapControls__control {
    display: flex;

    .BaseMapControls__control-label {
        margin: 0.25em;
        text-align: right;
        width: 125px;
    }

    .BaseMapControls__control-input {
        flex: 1;
        margin: 0.25em;
    }
}
