
$met-clr-hoverbg: rgba($clr-white, 0.05);

.MapEditorToolbar {
    background: $clr-chrome;
    color: $clr-gray-90;
    display: flex;
    flex-direction: column;
    padding: 1.0em;
    width: 400px;
}

.MapEditorToolbar__item {
    padding-bottom: 2.0em;

    h2 {
        border-bottom: 1px solid $clr-gray-90;
    }
}

@import './BaseMapControls';
