
$met-clr-hoverbg: rgba($clr-white, 0.05);

.MapEditorToolbar {
    background: $clr-dark;
    //border-right: 1px solid lighten($clr-chromebg, 4%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.MapEditorToolbar__item {
    border-top: 1px solid lighten($clr-dark, 4%);
}

.MapEditorToolbar__link {
    box-shadow: inset 0 0 2px darken($clr-dark, 2%);
    color: $clr-light;
    cursor: pointer;
    display: block;
    padding: 1.5em 0.5em;
    text-align: center;
    text-shadow: 1px 1px 0 transparent;
    transition: $transition-hover;

    &:hover {
        background: $met-clr-hoverbg;
        color: $clr-white;
    }
}

.MapEditorToolbar__logo {
    flex: 1;
}
