
.LayerControls__control {
    display: flex;

    .LayerControls__control-label {
        margin: 0.25em;
        text-align: right;
        width: 125px;
    }

    .LayerControls__control-input {
        flex: 1;
        margin: 0.25em;
    }

    .Select {
        margin: 0.25em;
        width: 100%;
    }
}

.LayerControls__colors {
    display: flex;
    padding: 0.5em 0;

    .LayerControls__color-input {
        padding: 0 0.25em;
        text-align: center;
        width: 33%;
    }
}
